html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E2933;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
    height: 1600px;
    background-color: #2B5B84;
}

/* Здесь начало горизонтального меню Роман */
a {
    text-decoration: none;
}

.img-nav{
    width: 200px;
    height: 50px;
    position: absolute;
    left:20px;
    top:20px;
}

.menu-main {
    list-style: none;
    margin: 0;
    padding: 30px 0 30px;
    text-align: center;
    background-color: #1E2933;
    position: relative;
    width: 100%;
}
.menu-main li {
    display: inline-block;
}
.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 30px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu-main a, .menu-main a:visited {
    color: #9d999d;
}
.menu-main a.current, .menu-main a:hover {
    color: #feb386;
}

@media (max-width: 550px) {
    .menu-main {padding-top: 0;
}
.menu-main li {
    display: block;
}
.menu-main li:after {
    content: none;
}
.menu-main a {
    padding: 15px 0 10px; 
    margin: 30px 10px 30px;
}

.images-algoritmika {
    width: 25px;
    height: 15px;
    position: relative;
    }
}

/* Конец начало горизонтального меню Роман */

/* main-inform */

.main-border {
    padding: 20px 0 0 0;
}

/* Цитата start */
section {
    position: relative;
    left: 200px;
    border: 5px solid #0e65ac;
    border-radius: 20px;
    background-image: linear-gradient(#2B5B84, #3C688E);
    width: 1050px;
    height: 80px;
    left: 250px;
}

section p {
    color: #000000;
    font-size: 24px;
    margin: 25px 0 20px 0;
    font-family: Signika SC;
    text-align: center;
}

/* Цитата end */

.main-information {
    position: relative;
    width: 1060px;
    height: 500px;
    left: 250px;
    background-color: #2B5B84;
    color: white;
    margin-top: 20px;
}

.main-information-img {
    float: left;
}

.main-information-right {
    float: right;
    width: 560px;
    height: 400px;
    background-color: #17354F;
    text-align: center;
    font-size: 24;
}

.main-information-right p {
    color: white;
}

.main-information-right span {
    color: #FFDE56;
    font-size: 36;
}

.main-information-bottom p {
    color: black;
    text-align: center;
    font-size: 22;
    text-decoration: none;
    margin: 28px 0 20px 0;
    padding: 10px 0 10px;
}

.main-information-bottom a {
    text-decoration: none;
    font-size: 22;
    color: #FFDE56;
}

.font_img-1 a{
    color: #FFE040;
}
.font_img-1 h2{
    text-align: center;
    color: #FFE040;
}
.img-1{
    
    width: 530px;
    height: 300px;
    left: 30px;
    top: 200px;
}
.img-1 img{
    width: 530px;
    height: 350px;
}

.content {
    
    position: relative;
    left: 170px;
    width: 1200px;
    padding: 30px;
}

.blok_1{
    background-color: #C4C4C4;
    display: inline-block;
    justify-content: space-around;
    text-align: center;
    border-top: 10px solid rgb(34, 69, 100);
    font-size: 20px;
    margin: 0 20px 0 20px;
    padding: 10px;
    height: 330px;
    width: 225px;
}
.video1{
    position: absolute;
    width: 1150px;
    height: 400px;
    left: 200px;
    /* left: 133px; */
    top: 1200px;
    background: #7080D7;
}

.video1 p{
    position: relative;
    width: 594px;
    height: 340px;
    left: 570px;
    top: -370px;
    font-family: Signika SC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* footer */

footer {
    background-color: #1E2933;
    height: 150px;
}

.footer_p1{
    text-align: center;
    font-size: 30px;
    color: #FFE040;
    padding: 20px;
}
.social-twitter{
    content: url("https://upload.wikimedia.org/wikipedia/ru/thumb/9/9f/Twitter_bird_logo_2012.svg/1200px-Twitter_bird_logo_2012.svg.png");
    height: 50px;
    width: 50px;
    position: absolute;
    top: 1800px;
    left: 930px;
}
.social-vk{
    content: url("https://pngicon.ru/file/uploads/vk-256x256.png");
    height: 50px;
    width: 50px;
    position: absolute;
    top: 1800px;
    left: 830px;
}
.social-discord{
    content: url("https://img.icons8.com/color/452/discord-new-logo.png");
    height: 60px;
    width: 60px;
    position: absolute;
    top: 1800px;
    left: 1030px;
}
